<div class="body" >
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar toggled sidebar-dark accordion"  id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SupShip </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item " routerLink="/client"  routerLinkActive="active" style="cursor: pointer;">
        <a class="nav-link "  >
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang Chủ</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">



    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" *ngIf="isAdmin == true" routerLink="/admin/customer" routerLinkActive="active" style="cursor: pointer;">
        <a class="nav-link collapsed" >
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý khách hàng</span>
        </a>
    </li>

    <li class="nav-item" *ngIf="isAdmin == true" routerLink="/admin/user" routerLinkActive="active" style="cursor: pointer;">
      <a class="nav-link collapsed" >
          <i class="fas fa-fw fa-cog"></i>
          <span>Quản lý Tài khoản</span>
      </a>
  </li>



    <li class="nav-item " routerLink="/client/customer" routerLinkActive="active" style="cursor: pointer;">
      <a class="nav-link" >
          <i class="fas fa-fw fa-wrench" ></i>
          <span>Đặt lịch</span>
      </a>

  </li>




    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" (click)="toggle()" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

</div>
