<div class="row">


      <img class="banner" src="https://firebasestorage.googleapis.com/v0/b/fir-upload-e5fd0.appspot.com/o/image%2Fgiao-hang-buu-dien.png?alt=media&token=da98cc6c-d2cf-4d5e-9062-396346ffcaa8" alt="Snow" style="width:100%;">
      <div class="top-left"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/fir-upload-e5fd0.appspot.com/o/image%2Flogo2.png?alt=media&token=f6f8d3dc-2c17-4905-911e-cedd4363e390"></div>
      <div class="centered">
        <div class="header-center">
          <span class="text-white-900">HỆ THỐNG QUẢN LÝ TIẾP XÚC KHÁCH HÀNG</span>

        </div>

        <div class="small-header">
          <span class="text-danger">HỖ TRỢ CẬP NHẬT: </span>
          <br>
          <span class="text-white-900 padding">P.CSKH - Vũ Minh Hiếu - <span class="text-success font-weight-bold">0961 565 015</span></span>
          <br>
          <span class="text-white-900  padding">P.CSKH - Ma Đức Duy - <span class="text-success font-weight-bold">0984 411 893</span></span>
        </div>

      </div>

</div>

