

<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">

  <div class="row">

      <!-- Grow In Utility -->
      <div class="col-lg-6">

          <div class="card position-relative">
            <div class="card-header py-3" style="background-color: #4e73df;">
              <h2 class="m-0 " style="color: white;">Tạo tài khoản</h2>
              </div>
              <div class="card-body">

                <div  class="row z-div" >

                  <div  class="col-md-6 z-div">
                    <div  class="z-vlayout" >
                        <div  class="z-vlayout-inner" style="padding-bottom:0">
                            <div  class="z-div"> <span  class="z-label">Email</span> </div>
                        </div>
                        <div  class="z-vlayout-inner" ><input formControlName="email" class="form-control" value="" type="text" maxlength="100" ></div>
                        <div *ngFor="let validation of insertUserMessage.email">
                          <small class="text-danger"   *ngIf="createUserForm.get('email')?.hasError(validation.type) && createUserForm.get('email').touched">
                           {{validation.message}}</small>
                        </div>
                    </div>
                    </div>
                  <div class="col-md-6 z-div">
                      <div  class="z-vlayout" >
                          <div  class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label">DeptCode</span> </div>
                          </div>
                          <select [(ngModel)]="deptCodeSelect" (change)="getPostCode(deptCodeSelect)"  class="form-control"  formControlName="deptCode" >
                            <option  [ngValue]="null" [disabled]="true" >Chọn DeptCode</option>
                            <option *ngFor="let d of dataDept" [ngValue]="d.deptCode"> {{d.deptName}}</option>

                          </select>
                      </div>
                  </div>
              </div>

              <div  class="row z-div">
                <div  class="col-md-6 z-div">
                    <div  class="z-vlayout" >
                        <div class="z-vlayout-inner" style="padding-bottom:0">
                            <div  class="z-div"> <span  class="z-label">PostCode</span> </div>
                        </div>
                        <select [(ngModel)]="postCodeSelect" class="form-control"  formControlName="postCode">
                          <option [ngValue]="null" [disabled]="true">Chọn PostCode</option>
                          <option *ngFor="let d of dataPost" [ngValue]="d.postCode"> {{d.postName}}</option>
                        </select>
                </div>
            </div>

            <div  class="col-md-6 z-div">
                <div  class="z-vlayout" >
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label">Role</span> </div>
                    </div>
                    <select [(ngModel)]="roleSelect" class="form-control"   formControlName="roles">
                      <option  [ngValue]="null" [disabled]="true" >Chọn role</option>
                      <option *ngFor="let d of roleData" [ngValue]="d.value"> {{d.name}}</option>

                    </select>
                </div>
            </div>
        </div>
                    <!-- BUTTON -->
                    <br>
                    <div id="w1uPgg4" class="row z-div">
                      <div id="w1uPhg4" class="col-md-12 z-div">
                          <div id="w1uPig4" style="float:right;" class="z-hlayout">

                              <div id="w1uPkg4-chdex" class="z-hlayout-inner" ><button type="submit"  class="btn btn-success btn-sm">Đăng ký </button></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
    </div>

</form>

