<div class="container mt-5" style="width:700px">


<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" >



      <!-- Grow In Utility -->


          <div class="card position-relative" >
            <div class="card-header py-3" style="background-color: #4e73df;">
              <h2 class="m-0 " style="color: white;">Tạo tài khoản</h2>
              </div>
              <div class="card-body">

                <div  class="row z-div" >

                  <div  class="col-md-6 z-div mt-2">
                    <div  class="z-vlayout" >
                        <div  class="z-vlayout-inner" style="padding-bottom:0">
                            <div  class="z-div"> <span  class="z-label text-gray-900">Email</span> </div>
                        </div>
                        <div  class="z-vlayout-inner" ><input [ngClass]="{'is-valid': !emailArr.errors?.['required'] && !emailArr.errors?.['email']}"
                           placeholder="Nhập địa chỉ email" formControlName="email" class="form-control" value="" type="text" maxlength="100" ></div>
                        <div *ngFor="let validation of insertUserMessage.email">
                          <small class="text-danger"   *ngIf="createUserForm.get('email')?.hasError(validation.type) && createUserForm.get('email').touched">
                           {{validation.message}}</small>
                        </div>
                    </div>
                    </div>
                  <div class="col-md-6 z-div mt-2">
                      <div  class="z-vlayout" style="position: relative;">
                          <div  class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label text-gray-900">Chi nhánh</span> </div>
                          </div>


                          <ng-select  placeholder="Chọn chi nhánh" [readonly]="dsbDept"  bindValue="deptCode" [(ngModel)]="deptCodeSelect" (change)="getPostCode(deptCodeSelect)"
                           [items]="dataDept" bindLabel="deptName" formControlName="deptCode" >
                          </ng-select>
                          <span *ngIf="!deptCodeArr?.hasError('required')"><i class="fas fa-check check" ></i></span>
                          <i *ngIf="deptCodeArr?.hasError('required') && deptCodeArr.touched" class="fas fa-exclamation-circle check2" ></i>
                      </div>
                  </div>
              </div>

              <div  class="row z-div">
                <div  class="col-md-6 z-div mt-2">
                    <div  class="z-vlayout" style="position: relative;">
                        <div class="z-vlayout-inner" style="padding-bottom:0">
                            <div  class="z-div"> <span  class="z-label text-gray-900">Bưu cục</span> </div>
                        </div>


                        <ng-select  placeholder="Chọn bưu cục" bindValue="postCode" [readonly]="dsbPost" [(ngModel)]="postCodeSelect"
                        [items]="dataPost" bindLabel="postName" formControlName="postCode" >
                       </ng-select>
                       <span *ngIf="!postCodeArr?.hasError('required')"><i class="fas fa-check check" ></i></span>
                       <i *ngIf="postCodeArr?.hasError('required') && postCodeArr.touched" class="fas fa-exclamation-circle check2" ></i>
                </div>
            </div>

            <div  class="col-md-6 z-div mt-2">
                <div  class="z-vlayout" style="position: relative;">
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label text-gray-900">Quyền</span> </div>
                    </div>


                    <ng-select  [readonly]="dsbRole" bindValue="value" [(ngModel)]="roleSelect"
                    [items]="roleData" bindLabel="name" formControlName="roles" >
                   </ng-select>
                   <span *ngIf="!rolesArr?.hasError('required')"><i class="fas fa-check check" ></i></span>
                   <i *ngIf="rolesArr?.hasError('required') && rolesArr.touched" class="fas fa-exclamation-circle check2" ></i>
                </div>
            </div>
        </div>
                    <!-- BUTTON -->
                    <br>
                    <div id="w1uPgg4" class="row z-div">
                      <div id="w1uPhg4" class="col-md-12 z-div">
                          <div id="w1uPig4" style="float:right;" class="z-hlayout">

                              <div id="w1uPkg4-chdex" class="z-hlayout-inner" ><button type="submit" [disabled]="createUserForm.invalid"  class="btn btn-success btn-sm">Đăng ký </button></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>



</form>


</div>
