.form-control{
  font-size: 14px;
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  min-height: 36px;
  align-items: center;
}

.input-group-text{
  font-size: 14px;
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  min-height: 36px;
  align-items: center;
}
.check{
  position: absolute;
  bottom:14px;
  right:8px;
  z-index: 2;
  color: #1cc88a;
  padding: 0px !important;

}


.check2{
  position: absolute;
  bottom:12px;
  right:40px;
  z-index: 2;
  color: #e74a3b;
  padding: 0px !important;
}
