<ng-container *ngIf="loaderService.isLoading | async">
  <div class="lds-ripple"><div></div><div></div></div>
 </ng-container>

<mat-tab-group [selectedIndex]="selected.value"
(selectedIndexChange)="selected.setValue($event)">

<mat-tab *ngFor="let tab of tabs; let index = index" >
  <ng-template mat-tab-label >
    {{tab.title}}
    <i *ngIf="index>0" class="fas fa-times ml-3" (click)="removeTab(index)"></i>
  </ng-template>

<div *ngIf="tab.value == 1">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="row col-xl-6 col-md-6 mb-4">
      <div class="col-6">
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
          <input placeholder="Tìm kiếm nhân tài khoản" type="text" id="example" class="form-control" formControlName="search">
        </div>
      </div>

      <div class="col-3 pt-1">
        <button type="submit" class="btn btn-sm btn-primary"><i
          class="fas fa-search fa-sm text-white-50"></i> Tìm kiếm</button>
      </div>

      <div class="col-3 pt-1">
        <button type="button" class="btn btn-sm btn-success" (click)="addTab()"><i class="fas fa-user-plus"></i> Thêm mới</button>
      </div>
    </div>
  </form>
  <hr>


    <table class="table align-middle" style="background-color: white">
      <thead style="background-color: #4e73df; color: white;">
        <tr>
          <th scope="col">Id tài khoản</th>
          <th scope="col">Tên tài khoản</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Công cụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataUser">
          <th >{{item.uid}}</th>
          <td>{{item.fullName}}</td>
          <td>{{item.mobile | phone}}</td>
          <td>
            <container-element [ngSwitch]="item.roles">
              <some-element *ngSwitchCase="'NV'">Nhân viên</some-element>
              <some-element *ngSwitchCase="'CN'">Chi nhánh</some-element>
              <some-element *ngSwitchCase="'TBC'">Tổng bưu cục</some-element>
              <some-element *ngSwitchCase="'TCT'">Tổng công ty</some-element>
              <some-element *ngSwitchDefault>Nhân viên</some-element>
           </container-element>
          </td>
          <td   class="success" [class.active]="item.isActive == 0">{{item.isActive == 1? 'Bình thường': 'Bị khóa'}}</td>
          <td>
            <a type="button" (click)="getIdUser(item.uid)" class="btn btn-danger btn-sm px-3 mr-2" data-toggle="modal" data-target="#banModal">
              <i class="fas fa-lock mr-2"></i><span>Khóa</span>
            </a>
            <a type="button" (click)="getIdUser(item.uid)" class="btn btn-success btn-sm px-3" data-toggle="modal" data-target="#unluckModal">
              <i class="fas fa-key mr-2"></i><span>Mở khóa</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>





   <app-pagination [offset]="offset" [limit]="limit" [size]="size" totalPage="totalPage" (pageChange)="onPageChange($event)"></app-pagination>


</div>
<div *ngIf="tab.value == 2">
  <app-create-user (createUser)="onCreateUser()"></app-create-user>
</div>



</mat-tab>
</mat-tab-group>


<div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn khóa tài khoản này</h5>
           <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
           </button>
       </div>
       <div class="modal-body">chọn "Chập nhận" Nếu bạn chắc chắn muốn khóa tài khoản này</div>
       <div class="modal-footer">
           <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
           <button (click)="banUser()" class="btn btn-primary"  type="button" data-dismiss="modal">Chấp nhận</button>
       </div>
   </div>
</div>
</div>

<div class="modal fade" id="unluckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn mở khóa tài khoản này</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">chọn "Chập nhận" Nếu bạn chắc chắn muốn mở khóa tài khoản này</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
            <button (click)="unLockUser()" class="btn btn-primary"  type="button" data-dismiss="modal">Chấp nhận</button>
        </div>
    </div>
</div>
</div>






