
<div  >
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center pt-5">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Quên mật khẩu?</h1>
                                    <p class="mb-4">Chúng tôi đã gửi mã OTP đến email của bạn
                                      Vui lòng kiểm tra hộp thư của bạn</p>
                                </div>
                                <form class="user" (ngSubmit)="onSubmit()" [formGroup]="changeForm">
                                  <div class="form-group" >
                                    <input type="text" class="form-control form-control-user"
                                        formControlName="tokenCode"
                                        placeholder="Nhập OTP">
                                        <div *ngFor="let validation of changePasswordMessage.tokenCode">
                                          <small class="text-danger"   *ngIf="changeForm.get('tokenCode')?.hasError(validation.type) && changeForm.get('tokenCode').touched">
                                           {{validation.message}}</small>
                                        </div>
                                </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                        [(ngModel)]="password" formControlName="newPassword"
                                            placeholder="Nhập mật khẩu">
                                            <div *ngFor="let validation of changePasswordMessage.newPassword">
                                              <small class="text-danger"   *ngIf="changeForm.get('newPassword')?.hasError(validation.type) && changeForm.get('newPassword').touched">
                                               {{validation.message}}</small>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                      <input type="password" class="form-control form-control-user"
                                      [(ngModel)]="rePassword" formControlName="reNewPassword"
                                          placeholder="Nhập mật khẩu xác nhận">
                                          <div *ngFor="let validation of changePasswordMessage.reNewPassword">
                                            <small class="text-danger"   *ngIf="changeForm.get('reNewPassword')?.hasError(validation.type) && changeForm.get('reNewPassword').touched">
                                             {{validation.message}}</small>
                                          </div>
                                        <small class="text-danger"
                                          *ngIf="!checkMatch()">
                                          Mật khẩu và mật khẩu nhập lại không khớp</small>
                                  </div>

                                    <button [disabled]="changeForm.invalid" type="submit" class="btn btn-primary btn-user btn-block">
                                        Đổi mật khẩu
                                    </button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</div>


