<div class="container-fluid">

<form [formGroup]="changeForm" (ngSubmit)="onSubmit();">
  <!-- Page Heading -->

  <!-- Content Row -->

  <div class="row">
    <div class="col-lg-4">
      </div>
      <!-- Grow In Utility -->
      <div class="col-lg-4">
      <!-- Grow In Utility -->


          <div class="card position-relative">
            <div class="card-header py-3" style="background-color: #4e73df;">
              <h2 class="m-0 font-weight-bold" style="color: white;">Đổi mật khẩu</h2>
              </div>
              <div class="card-body">

                <div  class="row z-div">
                  <div  class="col-md-12 z-div mt-2">
                      <div  class="z-vlayout" >
                          <div  class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label">Mật khẩu cũ</span> </div>
                          </div>
                          <div  class="z-vlayout-inner" ><input formControlName="password" class="form-control" value="" type="password" maxlength="100"  ></div>

                      </div>
                  </div>
                  <div *ngFor="let validation of changePasswordMessage.password">
                    <small class="text-danger"   *ngIf="changeForm.get('password')?.hasError(validation.type) && changeForm.get('password').touched">
                     {{validation.message}}</small>
                  </div>


              </div>


              <div  class="row z-div">
                <div  class="col-md-12 z-div mt-2">
                  <div  class="z-vlayout" >
                      <div  class="z-vlayout-inner" style="padding-bottom:0">
                          <div  class="z-div"> <span  class="z-label">Mật khẩu mới</span> </div>
                      </div>
                      <div  class="z-vlayout-inner"  ><input  [(ngModel)]="password" formControlName="newPassword"  class="form-control" value="" type="password" maxlength="100"  ></div>

                    </div>
              </div>
              <div *ngFor="let validation of changePasswordMessage.newPassword">
                <small class="text-danger"   *ngIf="changeForm.get('newPassword')?.hasError(validation.type) && changeForm.get('newPassword').touched">
                 {{validation.message}}</small>
              </div>

              <div  class="col-md-12 z-div mt-2">
                <div  class="z-vlayout" >
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label"> Xác nhận mật khẩu  </span> </div>
                    </div>
                    <div  class="z-vlayout-inner" ><input [(ngModel)]="rePassword" formControlName="reNewPassword"  class="form-control" value="" type="password" maxlength="100"  ></div>

                  </div>
                  <div *ngFor="let validation of changePasswordMessage.reNewPassword">
                    <small class="text-danger"   *ngIf="changeForm.get('reNewPassword')?.hasError(validation.type) && changeForm.get('reNewPassword').touched">
                     {{validation.message}}</small>
                  </div>
                <small class="text-danger"
                  *ngIf="!checkMatch()">
                  Mật khẩu và mật khẩu nhập lại không khớp</small>
            </div>
              </div>

                    <!-- BUTTON -->
                    <br>
                    <div class="row z-div">
                      <div  class="col-md-12 z-div">
                          <div  style="float:right;" >

                              <div  ><button type="submit"  class="btn btn-sm btn-success ">Đổi mật khẩu</button></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

</div>
</div>

</form>



</div>
