
<form [formGroup]="changeForm" (ngSubmit)="onSubmit();">
  <!-- Page Heading -->

  <!-- Content Row -->
  <div class="row">

      <!-- Grow In Utility -->
      <div class="col-lg-6">

          <div class="card position-relative">
            <div class="card-header py-3" style="background-color: #4e73df;">
              <h2 class="m-0 font-weight-bold" style="color: white;">Đổi mật khẩu</h2>
              </div>
              <div class="card-body">

                <div  class="row z-div">
                  <div  class="col-md-6 z-div">
                      <div  class="z-vlayout" style="width: 357px;">
                          <div  class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label">Mật khẩu cũ</span> </div>
                          </div>
                          <div  class="z-vlayout-inner" style="width: 357px;"><input formControlName="password" class="z-textbox" value="" type="password" maxlength="100"  style="width: 355px;"></div>

                      </div>
                  </div>
                  <div *ngFor="let validation of changePasswordMessage.password">
                    <small class="text-danger"   *ngIf="changeForm.get('password')?.hasError(validation.type) && changeForm.get('password').touched">
                     {{validation.message}}</small>
                  </div>


              </div>


              <div  class="row z-div">
                <div  class="col-md-6 z-div">
                  <div  class="z-vlayout" style="width: 358px;">
                      <div  class="z-vlayout-inner" style="padding-bottom:0">
                          <div  class="z-div"> <span  class="z-label">Mật khẩu mới</span> </div>
                      </div>
                      <div  class="z-vlayout-inner"  style="width: 358px;"><input  [(ngModel)]="password" formControlName="newPassword"  class="z-textbox" value="" type="password" maxlength="100"  style="width: 356px;"></div>

                    </div>
              </div>
              <div *ngFor="let validation of changePasswordMessage.newPassword">
                <small class="text-danger"   *ngIf="changeForm.get('newPassword')?.hasError(validation.type) && changeForm.get('newPassword').touched">
                 {{validation.message}}</small>
              </div>
              <div  class="col-md-6 z-div">
                <div  class="z-vlayout" style="width: 358px;">
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label"> Xác nhận mật khẩu  </span> </div>
                    </div>
                    <div  class="z-vlayout-inner" style="width: 358px;"><input [(ngModel)]="rePassword" formControlName="reNewPassword"  class="z-textbox" value="" type="password" maxlength="100"  style="width: 356px;"></div>

                  </div>
                  <div *ngFor="let validation of changePasswordMessage.reNewPassword">
                    <small class="text-danger"   *ngIf="changeForm.get('reNewPassword')?.hasError(validation.type) && changeForm.get('reNewPassword').touched">
                     {{validation.message}}</small>
                  </div>
                <small class="text-danger"
                  *ngIf="!checkMatch()">
                  Mật khẩu và mật khẩu nhập lại không khớp</small>
            </div>
              </div>





                    <!-- BUTTON -->
                    <br>
                    <div id="w1uPgg4" class="row z-div">
                      <div id="w1uPhg4" class="col-md-12 z-div">
                          <div id="w1uPig4" style="float:right;" class="z-hlayout">

                              <div id="w1uPkg4-chdex" class="z-hlayout-inner" ><button type="submit"  class="btn btn-success z-button">Đổi mật khẩu</button></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
    </div>

</form>


