#switcher {
  padding-top: 10px;
  text-align: right;
}

h3 {
  text-align: left;
}


.button {
  display: inline-block;
  margin-right: 20px;
}

.custom-marker {
  display: flex;
  width: 0.8rem;
  height: 0.8rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  z-index: 1;
}
::ng-deep .p-timeline-event-content, ::ng-deep .p-timeline-event-opposite {
  line-height: 1;
}
@media screen and (max-width: 960px) {
  ::ng-deep .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
 }
  ::ng-deep .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
 }
  ::ng-deep .customized-timeline .p-timeline-event-opposite {
    flex: 0;
 }
  ::ng-deep .customized-timeline .p-card {
    margin-top: 1rem;
 }
}

.lds-ripple {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 30vh;
  right: 50vw;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #4e73df;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
