
<form [formGroup]="userForm" (ngSubmit)="updateUser();">
  <!-- Page Heading -->

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-4">
      </div>
      <!-- Grow In Utility -->
      <div class="col-lg-4">

          <div class="card position-relative">
            <div class="card-header py-3" style="background-color: #4e73df;">
              <h2 class="m-0 font-weight-bold" style="color: white;">Cập nhật thông tin cá nhân</h2>
              </div>
              <div class="card-body">
                <div  class="row z-div">
                  <div  class="col-md-6 z-div">
                      <div  class="z-vlayout" >
                          <div  class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label">Họ và tên</span> </div>
                          </div>
                          <div  class="z-vlayout-inner" ><input formControlName="fullName" class="form-control" value="" type="text" maxlength="100"  ></div>

                      </div>
                  </div>
                  <div  class="z-vlayout-inner" >
                    <div  class="z-div"> <span  class="z-label">Giới Tính</span> </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="1" id="flexRadioDefault1">
                      <label class="form-check-label mt-1" for="flexRadioDefault1">
                        Nam
                      </label>
                      <input class="form-check-input ml-2" type="radio" name="gender" formControlName="gender" value="0" id="flexRadioDefault2" checked>
                      <label class="form-check-label ml-4 mt-1" for="flexRadioDefault2">
                        Nữ
                      </label>
                    </div>

                </div>
              </div>

              <div  class="row z-div">
                <div  class="col-md-6 z-div">
                  <div  class="z-vlayout" >
                      <div  class="z-vlayout-inner" style="padding-bottom:0">
                          <div  class="z-div"> <span  class="z-label">Số điện thoại</span> </div>
                      </div>
                      <div  class="z-vlayout-inner" ><input appPhoneNumber formControlName="mobile" maxlength="12" class="form-control" value="" type="text" id="phone-number"   ></div>

                    </div>
              </div>
              <div  class="col-md-6 z-div">
                <div  class="z-vlayout" >
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label"> Ngày sinh  (Ngày/tháng/năm) </span> </div>
                    </div>
                    <div  class="z-vlayout-inner" ><input formControlName="birthday"  class="form-control" appDate value="" type="text" maxlength="100"  ></div>

                  </div>
            </div>
              </div>




              <ng-container formArrayName="address">
                <div  class="row z-div" *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
                  <div  class="col-md-6 z-div">
                      <div  class="z-vlayout" >
                          <div class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label">Tỉnh/Thành phố</span></div>
                          </div>
                          <ng-select   bindValue="provinceCode" [(ngModel)]="proviceSelect" (change)="getAllDistrict(proviceSelect)" [items]="dataProvince" bindLabel="provinceName" formControlName="province" >
                          </ng-select>
                  </div>
              </div>



              <div  class="col-md-6 z-div">
                  <div  class="z-vlayout" >
                      <div  class="z-vlayout-inner" style="padding-bottom:0">
                          <div  class="z-div"> <span  class="z-label">Quận/Huyện</span> </div>
                      </div>
                      <ng-select   bindValue="districtCode" [(ngModel)]="districtSelect" (change)="getAllWard(districtSelect)" [items]="dataDistrict" bindLabel="districtName" formControlName="district" >
                      </ng-select>
                  </div>
              </div>
          </div>



          <div  class="row z-div" *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
              <div class="col-md-6 z-div">
                  <div  class="z-vlayout" >
                      <div  class="z-vlayout-inner" style="padding-bottom:0">
                          <div  class="z-div"> <span  class="z-label">Phường/xã</span></div>
                      </div>
                      <ng-select   bindValue="wardCode" [(ngModel)]="wardSelect"  [items]="dataWard" bindLabel="wardName" formControlName="ward" >
                      </ng-select>
                  </div>
              </div>
              <div  class="col-md-6 z-div">
                <div  class="z-vlayout" >
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label">Địa chỉ</span> </div>
                    </div>
                    <div  class="z-vlayout-inner" ><input formControlName="homeNo"  class="form-control" value="" type="text" maxlength="100"  ></div>

                  </div>
            </div>
          </div>

              </ng-container>
                    <!-- BUTTON -->
                    <br>
                    <div  class="row z-div">
                      <div  class="col-md-12 z-div">
                          <div  style="float:right;" class="z-hlayout">
                              <div ><button type="submit"  class="btn btn-sm btn-success">Cập nhật</button></div>
                          </div>
                      </div>
                  </div>



              </div>
          </div>
      </div>
    </div>

</form>



