<ng-container *ngIf="loaderService.isLoading | async">
  <div class="lds-ripple"><div></div><div></div></div>
 </ng-container>
<section>
  <div class="example-button-row">
        <button mat-raised-button class="text-gray-100" style="background-color: #858796;" (click)="getLeadAll()">Tất cả</button>
        <button mat-raised-button class="text-gray-100" style="background-color: #f6c23e;" (click)="getLeadContacting()">Đang tiếp xúc</button>
        <button mat-raised-button class="text-gray-100" style="background-color: #e74a3b;" (click)="getLeadFailed()">Thất bại</button>
        <button mat-raised-button class="text-gray-100" style="background-color: #1cc88a;" (click)="getLeadSuccess()">Thành công</button>
        <button mat-raised-button class="text-gray-100" style="background-color: #36b9cc;" (click)="getLeadNotContacting()">Chưa tiếp xúc</button>
        <button mat-raised-button class="text-gray-100" style="background-color: #4e73df;" (click)="getLeadNew()">Mới</button>
  </div>
</section>

<div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
  <form class="form-inline mr-auto w-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control  border-0 small"
            placeholder="Search for..." aria-label="Search"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
</div>
<br>
<h2 class=" mb-0 text-800" style="color: #4e73df;">{{totalLead}} khách hàng</h2>


  <div class="row">

    <div class="col-lg-6">
      <div class="card  mb-4 " style="border: 1px solid  rgb(189, 188, 188);padding-bottom: 0 !important;" *ngFor="let item of leadData" (click)="detailCustomer(item.id)" >
        <div class="card-header py-3 " style="border-bottom: 1px solid  rgb(189, 188, 188);">
          <h6 class="m-0 font-weight-bold text-primary" style="font-size: 15px;">KH{{item.id}}</h6>
        </div>
        <div class="card-body" style="padding-bottom: 0px !important;">
          <div class="h5 mb-0 text-gray-800 "><h3><i class="fas fa-home mr-2 text-primary"></i>{{item.companyName}}</h3></div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-map-marker-alt mr-2 ml-1 text-primary"></i>{{item?.address?.fomatAddress}}</h3> </div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-user mr-2 ml-1 text-primary"></i>{{item.representation}}</h3></div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3 style="margin-bottom: 5px;"><i class="fas fa-phone-square-alt mr-2 ml-1 text-primary"></i>{{item.phone | phone}}</h3></div>
          <hr class="text-primary" style="margin: 0px !important;">
          <div style="text-align: center; ; " class="h5 mb-0 text-primary" ><a (click)="createSchedule(item.id)"><h3 style="margin: 5px;"><i class="far fa-calendar-alt mr-2 text-primary"></i>Đặt lịch</h3></a></div>
        </div>

    </div>

    </div>


</div>
<div class="icon-botton">
  <a [routerLink]="['/client/create-customer']"   class="btn btn-primary btn-circle btn-lg">
    <i class="fas fa-user-plus"></i></a>
</div>
