<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Mới</button>
    <button mat-raised-button >Chưa tiếp xúc</button>
    <button mat-raised-button >Đang tiếp xúc</button>
    <button mat-raised-button >Thành công</button>
    <button mat-raised-button >Thất bại</button>
    <button mat-raised-button >Tất cả</button>
  </div>
</section>

<div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
  <form class="form-inline mr-auto w-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control  border-0 small"
            placeholder="Search for..." aria-label="Search"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
</div>
<br>
<h2 class=" mb-0 text-800" style="color: #4e73df;">4 khách hàng</h2>


  <div class="row">

    <div class="col-lg-6">

      <!-- Dropdown Card Example -->
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h3 class="m-0 text-primary">KH0010001</h3>
              <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <h6 class="mt-2" style="color: gray;">Tự nhập</h6>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-home mr-2"></i>Công ty CP Thương mại Toàn Thắng</h3></div>
            <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-map-marker-alt mr-2 ml-1"></i>P, Liêu Giai,Văn Cao, Ba Đình, Hà Nội</h3> </div>
            <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-user mr-2 ml-1"></i>Nguyễn Thị Ngân</h3></div>
            <div class="h5 mb-0 text-gray-800 mt-2"><h3>0961565015</h3></div>
          </div>
          <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <div style="text-align: center; margin-left: 110px;" class="h5 mb-0 text-primary" ><a [routerLink]="['/client/create-schedule']"><h3 ><i class="far fa-calendar-alt mr-2"></i>Đặt lịch</h3></a></div>

      </div>
      </div>


      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h3 class="m-0 text-primary">KH0010001</h3>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h6 class="mt-2" style="color: gray;">Tự nhập</h6>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-home mr-2"></i>Công ty CP Thương mại Toàn Thắng</h3></div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-map-marker-alt mr-2 ml-1"></i>P, Liêu Giai,Văn Cao, Ba Đình, Hà Nội</h3> </div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-user mr-2 ml-1"></i>Nguyễn Thị Ngân</h3></div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3>0961565015</h3></div>
        </div>
        <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <div style="text-align: center; margin-left: 110px;" class="h5 mb-0 text-primary" ><h3 ><i class="far fa-calendar-alt mr-2"></i>Đặt lịch</h3></div>

    </div>
    </div>

    </div>


</div>
<div class="icon-botton">
  <a [routerLink]="['/client/create-customer']"   class="btn btn-primary btn-circle btn-lg">
    <i class="fas fa-user-plus"></i></a>
</div>
