<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Mới</button>
    <button mat-raised-button >Chưa tiếp xúc</button>
    <button mat-raised-button >Đang tiếp xúc</button>
    <button mat-raised-button >Thành công</button>
    <button mat-raised-button >Thất bại</button>
    <button mat-raised-button >Tất cả</button>
  </div>
</section>

<div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
  <form class="form-inline mr-auto w-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control  border-0 small"
            placeholder="Search for..." aria-label="Search"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
</div>
<br>
<h2 class=" mb-0 text-800" style="color: #4e73df;">{{totalLead}} khách hàng</h2>


  <div class="row">

    <div class="col-lg-6">
      <div class="card shadow mb-4" *ngFor="let item of leadData" (click)="detailCustomer(item.id)" >
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary" style="font-size: 15px;">KH{{item.id}}</h6>
        </div>
        <div class="card-body">
          <div class="h5 mb-0 text-gray-800 "><h3><i class="fas fa-home mr-2"></i>{{item.companyName}}</h3></div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-map-marker-alt mr-2 ml-1"></i>P, Liêu Giai,Văn Cao, Ba Đình, Hà Nội</h3> </div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3><i class="fas fa-user mr-2 ml-1"></i>{{item.representation}}</h3></div>
          <div class="h5 mb-0 text-gray-800 mt-2"><h3>+84{{item.phone}}</h3></div>
          <div style="text-align: center; margin-left: 20px;" class="h5 mb-0 text-primary" ><a (click)="createSchedule(item.id)"><h3 ><i class="far fa-calendar-alt mr-2"></i>Đặt lịch</h3></a></div>
        </div>

    </div>

    </div>


</div>
<div class="icon-botton">
  <a [routerLink]="['/client/create-customer']"   class="btn btn-primary btn-circle btn-lg">
    <i class="fas fa-user-plus"></i></a>
</div>
