@media only screen and (min-width: 1200px) {
  h5 .text-primary,.span{
    font-size: large;
  }
  .card.bg-danger.text-white{
    padding: 10px 10px;
  }
  .card.bg-success.text-white{
    padding: 10px 10px;
  }
  .txt-box{
    font-size: 20px;
  }
  .prgbar{
    height: 20px ;
    margin:10px;
  }
  .txt-box.rgt{
    float: right;
  }
  .row.pad{
    padding-top: 15px;
  }
  .card.min{
    min-height: 219px;
  }
}
@media only screen and (max-width: 768px) {
  .txt-box{
    font-size: 8.5px;
    margin: 0;
  }
  .col-8.mt-1{
    margin: 0;
  }
  .col-4.mt-1{
    margin: 0;
  }
}
.body{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.lds-ripple {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 30vh;
  right: 50vw;
  transform: translateX(100%);
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #4e73df;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
