

<form [formGroup]="updateCustomerForm" (ngSubmit)="onSubmit();">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 " style="color: #4e73df;">Cập nhật khách hàng</h1>
  <!-- Content Row -->
  <div class="row">

      <!-- Grow In Utility -->
      <div class="col-lg-6">

          <div class="card position-relative">
            <div class="card-header py-3" style="background-color: #4e73df;">
              <h2 class="m-0 font-weight-bold" style="color: white;">Phân loại khách hàng</h2>
              </div>
              <div class="card-body">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="leadSource"  value="PRIVATE" class="custom-control-input" formControlName="leadSource">
                  <label class="custom-control-label" for="customRadioInline1" >KH cá nhân</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="leadSource" value="PUBLIC" formControlName="leadSource" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2" >KH doanh nghiệp</label>
                </div>
              </div>


            <div class="container">
              <div  class="row z-div">
                <div  class="col-md-12 z-div">
                    <div  style="padding: 2% 0 1.9%;" class="row z-div">
                        <div  class="col-md-12 z-div"> <span  class="z-label">Sản phẩm kinh doanh</span> </div>
                    </div>
                    <div  class="row z-div">
                      <ng-container formArrayName="industry">
                        <div  class="col-md-6 z-div custom-control custom-checkbox"
                        *ngFor="let b of industryFormArray.controls; let index = index">
                          <input  type="checkbox" [formControl]="b" (change)="getSelectedIndustryValue()" >
                          <label  class="z-checkbox-content"> {{industryData[index].name}}</label></div>
                          <small class="text-danger"
                          *ngIf="industryError && checkIndustryControlsTouched()">
                              Chọn ít nhất 1 sản phẩm kinh doanh</small>
                      </ng-container>
                    </div>
                </div>
            </div>
            </div>




          </div>

      </div>

      <!-- Fade In Utility -->
      <div class="col-lg-6">

          <div class="card position-relative">
            <div class="card-header py-3" style="background-color: #4e73df;">
              <h2 class="m-0 font-weight-bold" style="color: white;">Thông tin khách hàng</h2>
              </div>
              <div class="card-body">

                <div  class="row z-div">
                  <div  class="col-md-6 z-div">
                      <div  class="z-vlayout" style="width: 357px;">
                          <div  class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label">Tên cửa hàng/ công ty</span> <span style="color:red;" class="z-label">(*)</span></div>
                          </div>
                          <div  class="z-vlayout-inner" style="width: 357px;"><input formControlName="companyName" class="z-textbox" value="" type="text" maxlength="100" placeholder="Nhập tên cửa hàng" style="width: 355px;"></div>
                          <div *ngFor="let validation of updateCustomerMessage.companyName">
                            <small class="text-danger"   *ngIf="updateCustomerForm.get('companyName')?.hasError(validation.type) && updateCustomerForm.get('companyName').touched">
                             {{validation.message}}</small>
                          </div>
                      </div>
                  </div>
                  <div  class="col-md-6 z-div">
                      <div  class="z-vlayout" style="width: 358px;">
                          <div  class="z-vlayout-inner" style="padding-bottom:0">
                              <div  class="z-div"> <span  class="z-label">Chức danh</span> <span id="w1uPgc4" style="color:red;" class="z-label">(*)</span></div>
                          </div>
                          <div  class="z-vlayout-inner" style="width: 358px;"><input formControlName="title"  class="z-textbox" value="" type="text" maxlength="100" placeholder="Nhập chức danh" style="width: 356px;"></div>
                          <div *ngFor="let validation of updateCustomerMessage.title">
                            <small class="text-danger"   *ngIf="updateCustomerForm.get('title')?.hasError(validation.type) && updateCustomerForm.get('title').touched">
                             {{validation.message}}</small>
                          </div>
                        </div>
                  </div>
              </div>

              <div  class="row z-div">
                <div  class="col-md-6 z-div">
                    <div  class="z-vlayout" style="width: 357px;">
                        <div  class="z-vlayout-inner" style="padding-bottom:0">
                            <div  class="z-div"> <span  class="z-label">Họ và tên</span> <span style="color:red;" class="z-label">(*)</span></div>
                        </div>
                        <div class="z-vlayout-inner" style="width: 357px;"><input formControlName="representation"  class="z-textbox" value="" type="text" maxlength="100" placeholder="Nhập người liên hệ" style="width: 355px;"></div>
                        <div *ngFor="let validation of updateCustomerMessage.representation">
                          <small class="text-danger"   *ngIf="updateCustomerForm.get('representation')?.hasError(validation.type) && updateCustomerForm.get('representation').touched">
                           {{validation.message}}</small>
                        </div>
                      </div>
                </div>
                <div  class="col-md-6 z-div">
                    <div  class="z-vlayout" style="width: 358px;">
                        <div  class="z-vlayout-inner" style="padding-bottom:0">
                            <div  class="z-div"> <span  class="z-label">Số điện thoại</span> <span  style="color:red;" class="z-label">(*)</span></div>
                        </div>
                        <div  class="z-vlayout-inner" style="width: 358px;"><input formControlName="phone" class="z-textbox" value="" type="text" maxlength="11" placeholder="Nhập số điện thoại" style="width: 356px;"></div>
                        <div *ngFor="let validation of updateCustomerMessage.phone">
                          <small class="text-danger"   *ngIf="updateCustomerForm.get('phone')?.hasError(validation.type) && updateCustomerForm.get('phone').touched">
                           {{validation.message}}</small>
                        </div>
                      </div>
                </div>
            </div>

            <ng-container formArrayName="address">
              <div  class="row z-div" *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
                <div  class="col-md-6 z-div">
                    <div  class="z-vlayout" style="width: 357px;">
                        <div class="z-vlayout-inner" style="padding-bottom:0">
                            <div  class="z-div"> <span  class="z-label">Tỉnh/Thành phố</span> <span  style="color:red;" class="z-label">(*)</span></div>
                        </div>
                        <select class="combobox" [(ngModel)]="proviceSelect" (change)="getAllDistrict(proviceSelect)"  formControlName="province">
                          <option [ngValue]="null" [disabled]="true" >Chọn Tỉnh</option>
                          <option *ngFor="let d of dataProvince" [ngValue]="d.provinceCode"> {{d.provinceName}}</option>
                        </select>
                </div>
            </div>

            <div  class="col-md-6 z-div">
                <div  class="z-vlayout" style="width: 358px;">
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label">Quận/Huyện</span> <span  style="color:red;" class="z-label">(*)</span></div>
                    </div>
                    <select class="combobox" [(ngModel)]="districtSelect" (change)="getAllWard(districtSelect)"  formControlName="district">
                      <option [ngValue]="null" [disabled]="true" >Chọn Quận/Huyện</option>
                      <option *ngFor="let d of dataDistrict" [ngValue]="d.districtCode"> {{d.districtName}}</option>

                    </select>
                </div>
            </div>
        </div>



        <div  class="row z-div" *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
            <div class="col-md-6 z-div">
                <div  class="z-vlayout" style="width: 357px;">
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div  class="z-div"> <span  class="z-label">Phường/xã</span> <span  style="color:red;" class="z-label">(*)</span></div>
                    </div>
                    <select class="combobox" [(ngModel)]="wardSelect" formControlName="ward" >
                      <option [ngValue]="null" [disabled]="true" >Chọn Phường/xã</option>
                      <option *ngFor="let d of dataWard" [ngValue]="d.wardCode"> {{d.wardName}}</option>

                    </select>
                </div>
            </div>
        </div>
        <div  class="row z-div" *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
            <div  class="col-md-12 z-div">
                <div  class="z-vlayout" style="width: 745px;">
                    <div  class="z-vlayout-inner" style="padding-bottom:0">
                        <div class="z-div"> <span  class="z-label">Địa chỉ</span> <span  style="color:red;" class="z-label">(*)</span></div>
                    </div>
                    <div class="z-vlayout-inner" style="width: 745px;"><input  formControlName="homeNo" class="z-textbox"  type="text" maxlength="100" placeholder="Nhập địa chỉ" style="width: 743px;"></div>
                    <div *ngFor="let validation of updateCustomerMessage.homeNo">
                      <small class="text-danger"   *ngIf="addressArray.controls[i]?.get('homeNo')?.hasError(validation.type) && addressArray.controls[i]?.get('homeNo')?.touched">
                       {{validation.message}}</small>
                    </div>
                  </div>
            </div>
        </div>
            </ng-container>

              </div>
          </div>

      </div>
      <br>
      <div id="w1uPgg4" class="row z-div">
        <div id="w1uPhg4" class="col-md-12 z-div">
            <div id="w1uPig4" style="float:right;" class="z-hlayout">
                <div id="w1uPkg4-chdex" class="z-hlayout-inner" ><button type="submit"  class="btn btn-success z-button">Cập nhật</button></div>
            </div>
        </div>
    </div>
  </div>
</form>

