
<mat-tab-group [selectedIndex]="selected.value"
(selectedIndexChange)="selected.setValue($event)">

<mat-tab *ngFor="let tab of tabs; let index = index" >
  <ng-template mat-tab-label >
    {{tab.title}}
    <i *ngIf="index>0" class="fas fa-times ml-3" (click)="removeTab(index)"></i>
  </ng-template>

<div *ngIf="tab.value == 1">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="row col-12">
    <div class="row col-xl-6 col-md-6 mb-4">
      <div class="col-3">
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
          <input placeholder="Select date" type="text" id="example" class="form-control">
        </div>
      </div>
      <div class="col-3">
        <div class="md-form md-outline input-with-post-icon datepicker">
          <input placeholder="Select date" type="date" id="example" class="form-control">
        </div>
      </div>
      <div class="col-3">
        <div class="md-form md-outline input-with-post-icon datepicker">
          <input placeholder="Select date" type="date" id="example" class="form-control">
        </div>
      </div>
      <div class="col-3 pt-1">
        <a  class="btn btn-sm btn-success"><i
          class="fas fa-download fa-sm text-white-50"></i> Tìm kiếm</a>
      </div>
    </div>

    <div class="row col-xl-6 col-md-6 mb-4">

      <div class="col-2 pt-1">

      </div>
      <div class="col-2 pt-1">

      </div>
      <div class="col-2 pt-1">
        <button  class="btn btn-sm btn-success" (click)="addCreateTab()"><i
          class="fas fa-download fa-sm text-white-50" ></i> Thêm mới</button>
      </div>
      <div class="col-4 ">
        <a  class="btn btn-light btn-icon-split" style="background-color: white;">
          <span class="icon text-gray-600">
              <i class="fas fa-arrow-right"></i>
          </span>
          <span class="text">Giao khách hàng excel</span>
      </a>
      </div>
      <div class="col-2 pt-1">
        <a  class="btn btn-sm btn-success"><i
          class="fas fa-download fa-sm text-white-50"></i> Xuất excel</a>
      </div>
    </div>

  </div>

  <div class="row col-12">
    <hr>
  </div>




  <div class="row col-12">
    <div class="row col-xl-6 col-md-6 mb-4">
      <div class="mb-4">
        <a  (click)="getListAll()" class="btn btn-sm btn-secondary mr-2">Tất cả</a>
        <a  (click)="getListNew()" class="btn btn-sm btn-primary mr-2">Mới</a>
        <a  (click)="getListNotContacting()" class="btn btn-sm btn-info mr-2">Chưa tiếp xúc</a>
        <a  (click)="getListContacting()" class="btn btn-sm btn-warning mr-2">Đang tiếp xúc</a>
        <a  (click)="getListSuccess()" class="btn btn-sm btn-success mr-2">Thành công</a>
        <a  (click)="getListFalied()" class="btn btn-sm btn-danger mr-2" >Thất bại</a>
      </div>
    </div>

    <div class="row col-xl-6 col-md-6 mb-4">

      <div class="col-lg-2 col-sm-1  pt-1">

      </div>
      <div class="col-lg-2 col-sm-1 pt-1">

      </div>
      <div class="col-lg-2 col-sm-1 pt-1">

      </div>
      <div class="col-lg-2  col-sm-1 pt-1">

      </div>
      <div class="col-lg-2 col-md-4  pt-1">
        <button [disabled]="idArray.length<1" class="btn btn-sm btn-success">
          <span class="text" (click)="allTranfer()" data-toggle="modal" data-target="#tranfer">Giao tiếp xúc</span>
        </button>
      </div>
      <div class="col-lg-2 pt-1">
        <button [disabled]="idArray.length<1" class="btn btn-sm btn-dark">Xóa bản ghi</button>
      </div>
    </div>

  </div>



    <table class="table align-middle" style="background-color: white">
      <thead style="background-color: #4e73df; color: white;">
        <tr>
          <th scope="col"><input type="checkbox"></th>
          <th scope="col">Id</th>
          <th scope="col">Nguồn</th>
          <th scope="col">Tên công ty (Cửa hàng)/ Địa chỉ</th>
          <th scope="col">Người liên hệ/ Số ĐT</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Trạng thái TX</th>
          <th scope="col">Chi nhánh</th>
          <th scope="col">Bưu cục</th>
          <th scope="col">Nhân viên TX</th>
          <th scope="col">Ngày giao TX</th>
          <th scope="col">Ngày tác động</th>
          <th scope="col">Công cụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCustomer, let i = index" [ngClass]="'toogle'+i">
          <th scope="col"><input (click)="toggle(i)" type="checkbox" (change)="getIdArray(item.id)"></th>
          <th scope="row">{{item.id}}</th>
          <td>{{item.leadSource}}</td>
          <td>{{item.companyName}}</td>
          <td>{{item.representation}}</td>
          <td>{{item.status}}</td>
          <td>Sit</td>
          <td>Amet</td>
          <td>Sit</td>
          <td>Amet</td>
          <td>Sit</td>
          <td>Amet</td>
          <td>
            <a type="button"  class="btn btn-success btn-sm px-3 mr-2" (click)="singleTranfer(item.id)" data-toggle="modal" data-target="#tranfer">
                Giao TX
            </a>
            <i class="fas fa-eye px-3" style="cursor: pointer;" (click)="addDetailTab(item.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>

   <app-pagination [offset]="offset" [limit]="limit" [size]="size" totalPage="totalPage" (pageChange)="onPageChange($event)"></app-pagination>


</div>
<div *ngIf="tab.value == 2">
<app-create-customer></app-create-customer>
</div>
<div *ngIf="tab.value == 3">
  <app-detail-customer [idUpdate]="idUpdate" (deleteId)="onDelete($event)" (updateId)="addUpdateTab($event)"></app-detail-customer>
</div>
<div *ngIf="tab.value == 4">
  <app-update-customer [idUpdate]="idUpdate"></app-update-customer>
</div>


</mat-tab>
</mat-tab-group>




<div class="modal fade" id="tranfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
 <form [formGroup]="tranferForm" >
  <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Giao tiếp xúc {{tranferData?.length}} khách hàng</h3>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="row col-12">
          <div class="row col-6 ">
            <span>Mã chi nhánh</span>
            <div  class="md-form md-outline input-with-post-icon " inline="true">
              <select [(ngModel)]="deptCodeSelect" (change)="getPostCode(deptCodeSelect)"  class="form-control"  formControlName="deptCode" >
                <option  [ngValue]="null" [disabled]="true" >Chọn DeptCode</option>
                <option *ngFor="let d of dataDept" [ngValue]="d.deptCode"> {{d.deptName}}</option>

              </select>
            </div>
          </div>
          <div class="row col-6">
            <span>Mã Bưu cục</span>
            <div  class="md-form md-outline input-with-post-icon " inline="true">
              <select [(ngModel)]="postCodeSelect"(change)="getListByPostCode(postCodeSelect)" class="form-control"  formControlName="postCode">
                <option [ngValue]="null" [disabled]="true">Chọn PostCode</option>
                <option *ngFor="let d of dataPost" [ngValue]="d.postCode"> {{d.postName}}</option>
              </select>
            </div>
     </div>
     </div>
     <div class="row col-12 pt-2">

       <div class="row col-6">
        <span>Nhân viên tiếp xúc</span>
        <div  class="md-form md-outline input-with-post-icon " inline="true">
          <select [(ngModel)]="leadSelect" class="form-control"  formControlName="userRecipientId">
            <option [ngValue]="null" [disabled]="true">Chọn Nhân viên</option>
            <option *ngFor="let d of dataLead" [ngValue]="d.empCode"> {{d.name}}</option>
          </select>
        </div>
       </div>


 </div>



 <div class="row col-12 mt-4 ml-1" *ngFor="let item of tranferData">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                    KH{{item?.id}}</div>
                <div class="h5 mb-0 text-gray-800 mt-2"><i class="fas fa-home mr-2"></i>Test Cảnh bánh 05.11 C3</div>
                <div class="h5 mb-0 text-gray-800 mt-2"><i class="fas fa-map-marker-alt mr-2 ml-1"></i>***, , {{item?.address?.district}}, {{item?.address?.province}}</div>
                <div class="h5 mb-0 text-gray-800 mt-2"><i class="fas fa-user mr-2 ml-1"></i>{{item?.fullName}}/****.***.113</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Hủy</button>
        <button class="btn btn-sm btn-success" (click)="onSubmit()" type="button"  data-dismiss="modal" aria-label="Close">
         Giao
      </button>
    </div>
</div>
 </form>
</div>
</div>





