
<mat-tab-group [selectedIndex]="selected.value"
(selectedIndexChange)="selected.setValue($event)">

<mat-tab *ngFor="let tab of tabs; let index = index" >
  <ng-template mat-tab-label >
    {{tab.title}}
    <i *ngIf="index>1" class="fas fa-times ml-3" (click)="removeTab(index)"></i>
  </ng-template>

<div *ngIf="tab.value == 1" class="mh">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="row col-12">
    <div class="row col-xl-8 col-md-8 mb-4">
      <div class="col-3">
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
          <input [(ngModel)]="req" placeholder="Id hoặc tên khách hàng" type="text" id="example" class="form-control" style="border: 1px solid rgb(160, 154, 154); padding: 22px;">
        </div>
      </div>
      <div class="col-3">
        <div class="md-form md-outline input-with-post-icon datepicker">
            <p-calendar [(ngModel)]="fromDate" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
      </div>
      <div class="col-3">
        <div class="md-form md-outline input-with-post-icon datepicker">
            <p-calendar [(ngModel)]="toDate" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
      </div>
      <div class="col-3 pt-2">
        <a  class="btn btn-sm btn-success" (click)="onSearch()" ><i
          class="fas fa-search fa-sm text-white-50" ></i> Tìm kiếm</a>
      </div>
    </div>

  </div>

  <div class="row col-12">
    <hr>
  </div>




  <div class="row col-12">
    <div class="row col-6 mb-4">
      <div class="mb-4">
        <a  (click)="getListAll()" class="btn btn-sm btn-secondary mr-2">Tất cả</a>
        <a  (click)="getListNew()" class="btn btn-sm btn-primary mr-2">Mới</a>
        <a  (click)="getListNotContacting()" class="btn btn-sm btn-info mr-2">Chưa tiếp xúc</a>
        <a  (click)="getListContacting()" class="btn btn-sm btn-warning mr-2">Đang tiếp xúc</a>
        <a  (click)="getListSuccess()" class="btn btn-sm btn-success mr-2">Thành công</a>
        <a  (click)="getListFalied()" class="btn btn-sm btn-danger mr-2" >Thất bại</a>
      </div>
    </div>

    <div class="row col-6 mb-4" >
      <div class="mb-4">
        <div id="switcher">
          <div class="button selected" id="switcher-default">
            <button  (click)="addCreateTab()" class="btn btn-sm btn-success mr-2"><i
              class="fas fa-user-plus fa-sm text-white-50" ></i>Thêm mới</button>
          </div>
          <div class="button" id="switcher-narrow">
            <button  (click)="addContactExcel()" class="btn btn-sm btn-success mr-2">Giao TX Excel</button>
          </div>
          <div class="button" id="switcher-narrow">
            <button  (click)="allTranfer()" data-toggle="modal" data-target="#tranfer" class="btn btn-sm btn-success mr-2" [disabled]="!isdb" >Giao tiếp xúc</button>
          </div>
          <div class="button" id="switcher-narrow">
            <button  [disabled]="idArray.length<1" class="btn btn-sm btn-dark mr-2">Xóa bản ghi</button>
          </div>

      </div>

      </div>
    </div>
  </div>



    <table class="table align-middle" style="background-color: white">
      <thead style="background-color: #4e73df; color: white;">
        <tr>
          <th scope="col"><input type="checkbox"></th>
          <th scope="col">Id</th>
          <th scope="col">Nguồn</th>
          <th scope="col">Tên công ty (Cửa hàng)/ Địa chỉ</th>
          <th scope="col">Người liên hệ/ Số ĐT</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Trạng thái TX</th>
          <th scope="col">Chi nhánh</th>
          <th scope="col">Bưu cục</th>
          <th scope="col">Nhân viên TX</th>
          <th scope="col">Ngày giao TX</th>
          <th scope="col">Ngày tác động</th>
          <th scope="col">Công cụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCustomer, let i = index" [ngClass]="'toogle'+i" class="tbhov">
          <th scope="col"><input (click)="toggle(i)" type="checkbox" (change)="getIdArray(item.id)"></th>
          <th scope="row">KH{{item.id}}</th>
          <td>{{item?.leadSource=='PRIVATE'?'Cá nhân':'Doanh nghiệp'}}</td>
          <td>{{item?.companyName}}<br><h5>{{item?.address?.fomatAddress}}</h5></td>
          <td>{{item?.representation}}</td>
          <td>{{item?.statusDescription}}</td>
          <td>{{item?.statusDescLa}}</td>
          <td>{{item?.leadAssigns[0]?.deptCode}}</td>
          <td>{{item?.leadAssigns[0]?.postCode}}</td>
          <td>{{item?.leadAssigns[0]?.assigneeName}}</td>
          <td>{{item?.createdDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{item?.leadAssigns[0]?.createdDate | date: 'dd/MM/yyyy'}}</td>

          <td>
            <button type="button" *ngIf="item?.status != 'CONTACTING'" class="btn btn-success btn-sm px-3 mr-2" [disabled]="isdb" (click)="singleTranfer(item.id)" data-toggle="modal" data-target="#tranfer">
                Giao TX
            </button>
            <button type="button" *ngIf="item?.status != 'NEW' && item?.status != 'SUCCESS'"  class="btn btn-success btn-sm px-3 mr-2" [disabled]="isdb" (click)="singleTranfer(item.id, item.status)" data-toggle="modal" data-target="#tranfer">
              Chuyển TX
          </button>
            <i class="fas fa-eye px-3" style="cursor: pointer;" (click)="addDetailTab(item.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>

   <app-pagination [offset]="offset" [limit]="limit" [size]="size" totalPage="totalPage" (pageChange)="onPageChange($event)"></app-pagination>



</div>
<div *ngIf="tab.value == 2">
<app-create-customer (createCus)="createCus($event)"></app-create-customer>
</div>
<div *ngIf="tab.value == 3">
  <app-detail-customer [idUpdate]="idUpdate" (deleteId)="onDelete($event)" (updateId)="addUpdateTab($event)"></app-detail-customer>
</div>
<div *ngIf="tab.value == 4">
  <app-update-customer [idUpdate]="idUpdate"></app-update-customer>
</div>
<div *ngIf="tab.value == 5">
  <app-contact-report (onPostChange)="addPostReport($event)"></app-contact-report>
</div>
<div *ngIf="tab.value == 6">
  <app-post-report [postCode]="postCodeReport"></app-post-report>
</div>
<div *ngIf="tab.value == 7">
  <app-contact-excel></app-contact-excel>
</div>


</mat-tab>
</mat-tab-group>




<div class="modal fade" id="tranfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
 <form [formGroup]="tranferForm" >
  <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Giao tiếp xúc {{tranferData?.length}} khách hàng</h3>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span (click)="clearTranferData()" aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="row col-12">
          <div class="row col-6 ">
            <span>Mã chi nhánh</span>
            <div  class="md-form md-outline input-with-post-icon " inline="true">

              <ng-select placeholder="Chọn mã chi nhánh"  bindValue="deptCode" (change)="getPostCode(deptCodeSelect)"
               [(ngModel)]="deptCodeSelect"  [items]="dataDept" bindLabel="deptName" formControlName="deptCode" >
              </ng-select>
            </div>
          </div>
          <div class="row col-6">
            <span>Mã Bưu cục</span>
            <div  class="md-form md-outline input-with-post-icon " inline="true">


              <ng-select placeholder="Chọn mã Bưu cục"   bindValue="postCode" (change)="getListByPostCode(postCodeSelect)"
              [(ngModel)]="postCodeSelect"  [items]="dataPost" bindLabel="postName" formControlName="postCode" >
             </ng-select>
            </div>
     </div>
     </div>
     <div class="row col-12 pt-2">

       <div class="row col-6">
        <span>Nhân viên tiếp xúc</span>
        <div  class="md-form md-outline input-with-post-icon " inline="true">


          <ng-select placeholder="Chọn nhân viên tiếp xúc"  bindValue="empId"
              [(ngModel)]="leadSelect"  [items]="dataLead" bindLabel="name" formControlName="userRecipientId" >
             </ng-select>
        </div>
       </div>
   <ng-container *ngIf="isCTX == true" >
    <div class="row col-6">
      <span>Lí do chuyển tiếp xúc</span>
      <div  class="md-form md-outline input-with-post-icon " inline="true">
        <input  class="form-control" formControlName="note" placeholder="Không bắt buộc">
      </div>
     </div>
   </ng-container>


    </div>



 <div class="row col-12 mt-4 ml-1" *ngFor="let item of tranferData">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                    KH{{item?.id}}</div>
                <div class="h5 mb-0 text-gray-800 mt-2"><i class="fas fa-home mr-2"></i>{{item?.companyName}}</div>
                <div class="h5 mb-0 text-gray-800 mt-2"><i class="fas fa-map-marker-alt mr-2 ml-1"></i>{{item?.address?.fomatAddress}}, ***</div>
                <div class="h5 mb-0 text-gray-800 mt-2"><i class="fas fa-user mr-2 ml-1"></i>{{item?.representation}}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" type="button" (click)="clearTranferData()" data-dismiss="modal">Hủy</button>
        <button class="btn btn-sm btn-success" [disabled]="tranferForm.invalid" (click)="onSubmit()" type="button"  data-dismiss="modal" aria-label="Close">
         Giao
      </button>
    </div>
</div>
 </form>
</div>
</div>

<div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Giao khách hàng Excel</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
         <div class="container">
          <angular-file-uploader
          [config]="afuConfig">
          </angular-file-uploader>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>
</div>






