
@media screen {
  @media print {
    * {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      box-shadow: none !important;
    }
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row:before,
  .row:after {
    display: table;
    content: " ";
  }
  .row:after {
    clear: both;
  }
  .row:before,
  .row:after {
    display: table;
    content: " ";
  }
  .row:after {
    clear: both;
  }
  .col-md-1,
  .col-md-2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 2px;
  }
  @media (min-width: 992px) {
    .col-md-1,
    .col-md-2 {
      float: left;
    }
    .col-md-2 {
      width: 16.666666666666664%;
    }
    .col-md-1 {
      width: 8.333333333333332%;
    }
  }
}

@media screen {
  * {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 20px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 3px;
  }
}

@media screen {
  @media print {
    * {
      text-shadow: none !important;
      box-shadow: none !important;
    }
  }
  [class^="z-"],
  [class*=" z-"],
  [class^="z-"]:after,
  [class*=" z-"]:after,
  [class^="z-"]:before,
  [class*=" z-"]:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:focus {
    outline: 0;
  }
  .z-label {
    line-height: normal;
    word-break: break-word;
    white-space: normal;
  }
  .z-label {
    font-family: CoreSansGS45;
    font-size: 13px;
    font-weight: normal;
  }
  .z-vlayout {
    overflow: hidden;
  }
  .z-vlayout-inner {
    position: relative;
  }
  ::-webkit-scrollbar {
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #00857f;
    border-radius: 6px;
  }
}
/*! CSS Used from: Embedded */
::-webkit-scrollbar {
  height: 14px;
}
::-webkit-scrollbar-thumb {
  background: #00857f;
}
/*! CSS Used fontfaces */

.body{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  min-height: 800px;
}
.tbhov:hover {
  background-color: rgb(231, 235, 243);
  cursor: pointer;
}
.fas:hover{
  color: #4e73df;
}


.ng-select.custom ::ng-deep .ng-select-container  {
  border: 1px solid rgb(153, 152, 152);
  min-height: 0px;
  border-radius: 5px;
  height: 46px;
}

.ng-select.custom ::ng-deep .ng-select-container:hover{
  border: 1px solid rgb(82, 80, 80);
}


.lds-ripple {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 30vh;
  right: 50vw;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #4e73df;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
