<mat-tab-group>
  <mat-tab label="Lịch sử Upload">
   <div class="mt-2">
    <div id="switcher">

      <div class="button" id="switcher-narrow">
        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#logoutModal" >Tạo mới</button>
      </div>

      <div class="button selected" id="switcher-default">
        <button class="btn btn-sm btn-dark" >Tải xuống file mẫu</button>
      </div>

    </div>
   </div>

 <div class="mt-2">
  <table class="table align-middle" style="background-color: white">
    <thead style="background-color: #4e73df; color: white;">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên tập tin</th>
        <th scope="col">Thời gian</th>
        <th scope="col">Tổng khách hàng</th>
        <th scope="col">Số lượng thành công</th>
        <th scope="col">Số lượng lỗi</th>
        <th scope="col">Người nhập máy</th>
        <th scope="col">Công cụ</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="col">1</th>
        <th scope="row">Giao-tiep-xuc-khach-hang-mau (1).xlsx</th>
        <td>19/11/2021 10:45:19</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>linhnk1</td>
        <td>
          <i class="fas fa-eye px-3" style="cursor: pointer;" ></i>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
  </mat-tab>
  <mat-tab label="Chi tiết File">  </mat-tab>
</mat-tab-group>

