



<div class="p-fluid row mt-4 mb-1">
  <div class="p-field col-6">
    <p-calendar [(ngModel)]="dateValue" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
</div>
<div class="p-field col-6 mt-2">
  <h4 > 4/12 chưa hoàn thành</h4>
</div>
</div>
<br>
  <div (click)="log()" class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Đang tiếp xúc
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>


  <div class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Thành công
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>


  <div class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Thành công
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>

  <div class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Thành công
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>

  <div class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Thành công
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>

  <div class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Thành công
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>

  <div class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Thành công
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>

  <div class="tp-event mt-2">
    <div class="tp-event-calendar">
      <div class="tp-event-month">Tháng 12</div>
      <div class="tp-event-day">14</div>
    </div>
    <div class="tp-event-details">
      <div class="tp-event-title">
        Công ty CP thương mại toàn thắng
      </div>
      <div class="tp-event-info">
        <span class="glyphicon glyphicon-map-marker"></span>
        Thành công
        <span class="glyphicon glyphicon-time"></span>
        06:00 - 08:00
      </div>
    </div>
  </div>

  <div class="icon-botton">
    <a [routerLink]="['/client/create-schedule']"   class="btn btn-primary btn-circle btn-lg">
      <i class="fas fa-calendar-plus"></i></a>
  </div>
