
<ng-container *ngIf="loaderService.isLoading | async">
  <div class="lds-ripple"><div></div><div></div></div>
 </ng-container>


<a style="cursor: pointer;" [routerLink]="['/client/customer/',idUpdate]" class="text-primary" ><i class="fas fa-arrow-left"></i>  Quay lại</a>
<br>
<form [formGroup]="updateCustomerForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <mat-stepper labelPosition="bottom" #stepper>

      <mat-step >

          <ng-template matStepLabel>Phân loại</ng-template>


          <div class="container mt-5" style="width:700px; " >
            <div class="card position-relative"  >
            <div class="row mt-2">
              <div class="col-12">
                <div class="form-group">
                  <span class="text-text-primary">Loại khách hàng</span>
                  <div class="input-group mt-2">
                    <div class="switch-field">
                      <input type="radio" id="radio-one" name="leadSource"  formControlName="leadSource" value="PRIVATE" />
                      <label for="radio-one">Cá nhân</label>
                      <input type="radio" id="radio-two" name="leadSource" formControlName="leadSource" value="ENTERPRISE" />
                      <label for="radio-two">Doanh nghiệp</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <span class="text-text-primary">Sản phẩm kinh doanh</span>

                      <div  class="row ">
                        <ng-container formArrayName="industry">
                          <div  class="col-md-6 "
                          *ngFor="let b of industryFormArray.controls; let index = index">
                            <input  type="checkbox" [formControl]="b" (change)="getSelectedIndustryValue()" >
                            <label  class="text-gray-900 ml-2"> {{industryData[index].name}}</label></div>
                            <small class="text-danger"
                            *ngIf="industryError ">
                                Chọn ít nhất 1 sản phẩm kinh doanh</small>
                        </ng-container>
                      </div>
                  <br>
                  <br>

                </div>
              </div>
            </div>

        </div>
        </div>
        <div class="fixed" style="margin-left: -35px;">
          <div class="row col-12 col-lg-2" >
            <button type="button" class="btn btn-sm btn-primary p-2"mat-button matStepperNext >Tiếp theo</button>
          </div>
      </div>

      </mat-step>
      <mat-step >
          <button class="btn btn-circle btn-primary mb-2" mat-button matStepperPrevious><i class="fas fa-arrow-left"></i></button>
          <ng-template matStepLabel>Thông tin</ng-template>
          <div class="container mt-5" style="width:700px;" >
            <div class="card position-relative" style="padding-left: 10px;"  >
          <div class="row mt-2">
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <span class="text-gray-900">Tên cửa hàng/công ty</span>
                <div class="input-group mt-1">
                  <input class="form-control" [ngClass]="{'is-valid': !companyNameArray.errors?.['required'] && !companyNameArray.errors?.['minlength']}"
                   placeholder="Nhập tên cửa hàng" formControlName="companyName">
                </div>
                <div *ngFor="let validation of updateCustomerMessage.companyName">
                  <small class="text-danger"   *ngIf="updateCustomerForm.get('companyName')?.hasError(validation.type) ">
                   {{validation.message}}</small>
                </div>
              </div>
            </div>



            <div class="col-12 col-lg-6">
              <div class="form-group">
                <span class="text-gray-900">Người liên hệ</span>
                <div class="input-group mt-1">
                  <input class="form-control" [ngClass]="{'is-valid': !representationArray.errors?.['required'] && !representationArray.errors?.['minlength']}"
                   placeholder="Nhập tên người liên hệ" formControlName="representation">
                </div>
                <div *ngFor="let validation of updateCustomerMessage.representation">
                  <small class="text-danger"   *ngIf="updateCustomerForm.get('representation')?.hasError(validation.type) ">
                   {{validation.message}}</small>
                </div>
              </div>
            </div>
          </div>

          <div class="row ">
           <div class="col-lg-6">
            <span class="text-gray-900">Địa chỉ</span>
            <ng-container formArrayName="address">
              <div *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
                <div class="row">
                    <div class="col-12">
                      <div class="mt-2">
                        <ng-select  placeholder="Chọn Tỉnh/Thành Phố" bindValue="provinceCode" [(ngModel)]="proviceSelect" (change)="getAllDistrict(proviceSelect)" [items]="dataProvince" bindLabel="provinceName" formControlName="province" >
                        </ng-select>
                        <i *ngIf="!addressArray.controls[i]?.get('province')?.hasError('required')" class="fas fa-check check" ></i>
                        <i *ngIf="addressArray.controls[i]?.get('province')?.hasError('required') " class="fas fa-exclamation-circle check2" ></i>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mt-2">
                        <ng-select placeholder="Chọn Quận/Huyện"  bindValue="districtCode" [(ngModel)]="districtSelect" (change)="getAllWard(districtSelect)" [items]="dataDistrict" bindLabel="districtName" formControlName="district" >
                        </ng-select>
                        <span *ngIf="!addressArray.controls[i]?.get('district')?.hasError('required')"><i class="fas fa-check check" ></i></span>
                        <i *ngIf="addressArray.controls[i]?.get('district')?.hasError('required') " class="fas fa-exclamation-circle check2" ></i>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mt-2">
                        <ng-select  placeholder="Chọn xã" bindValue="wardCode" [(ngModel)]="wardSelect"  [items]="dataWard" bindLabel="wardName" formControlName="ward" >
                        </ng-select>
                        <span *ngIf="!addressArray.controls[i]?.get('ward')?.hasError('required')"><i class="fas fa-check check" ></i></span>
                        <i *ngIf="addressArray.controls[i]?.get('ward')?.hasError('required') " class="fas fa-exclamation-circle check2" ></i>
                      </div>
                    </div>



                    <div class="col-12">
                      <div class="input-group mt-2">
                        <input [ngClass]="{'is-valid': !addressArray.controls[i]?.get('homeNo')?.hasError('required') && !addressArray.controls[i]?.get('homeNo')?.hasError('minlength')}"
                        class="form-control" placeholder="Nhập số nhà" formControlName="homeNo">
                      </div>
                      <div *ngFor="let validation of updateCustomerMessage.homeNo">
                        <small class="text-danger"   *ngIf="addressArray.controls[i]?.get('homeNo')?.hasError(validation.type) ">
                         {{validation.message}}</small>
                      </div>
                    </div>

                </div>
              </div>
              <br>
            </ng-container>
           </div>

            <div class="col-lg-6">

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <span class="text-gray-900">Chức danh</span>
                    <div class="input-group mt-1">
                      <input class="form-control" [ngClass]="{'is-valid': !titleArray.errors?.['required'] && !titleArray.errors?.['minlength']}"
                       placeholder="Nhập chức danh" formControlName="title">
                    </div>
                    <div *ngFor="let validation of updateCustomerMessage.title">
                      <small class="text-danger"   *ngIf="updateCustomerForm.get('title')?.hasError(validation.type) ">
                       {{validation.message}}</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row ">
                <div class="col-12">
                  <div class="form-group">
                    <span class="text-gray-900">Số điện thoại</span>
                    <div class="input-group mt-1">
                      <input class="form-control" [ngClass]="{'is-valid': !phoneArr.errors?.['required'] && !phoneArr.errors?.['minlength']}"
                       appPhoneNumber placeholder="Nhập số điện thoại" maxlength="12" formControlName="phone">
                    </div>
                    <div *ngFor="let validation of updateCustomerMessage.phone">
                      <small class="text-danger"   *ngIf="updateCustomerForm.get('phone')?.hasError(validation.type)">
                       {{validation.message}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          </div>
          </div>




          <br>
          <br>
          <br>


            <div class="fixed" style="margin-left: -35px;">
              <div class="row col-12 col-lg-2" >
                <button type="button" class="btn btn-sm btn-primary p-2"mat-button matStepperNext >Tiếp theo</button>
              </div>
          </div>


      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Dịch vụ</ng-template>
        <button class="btn btn-circle btn-primary mb-2" mat-button matStepperPrevious><i class="fas fa-arrow-left"></i></button>


     <div class="container mt-5" style="width:400px;" >
       <div class="card position-relative" style="padding-left: 10px;"  >
        <div class="row mt-2">
          <div class="col-12">
            <div class="form-group">
              <span class="text-gray-900">Số lượng đơn / tháng (dự kiến)</span>
              <div class="input-group mt-1">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" [ngClass]="{'is-valid': !quantityMonthArray.errors?.['required'] && !quantityMonthArray.errors?.['min']}"
                   formControlName="quantityMonth" maxlength="4">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Đơn</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let validation of updateCustomerMessage.quantityMonth">
                <small class="text-danger"   *ngIf="updateCustomerForm.get('quantityMonth')?.hasError(validation.type) ">
                 {{validation.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <div class="form-group">
              <span class="text-gray-900">Trọng lượng/Bưu phẩm (dự kiến)</span>
              <div class="input-group mt-1">
                <div class="input-group mb-3">
                  <input type="text" [ngClass]="{'is-valid': !weightArray.errors?.['required'] && !weightArray.errors?.['min']}"
                   class="form-control" formControlName="weight" maxlength="3">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Kg</span>
                  </div>
                </div>

              </div>
              <div *ngFor="let validation of updateCustomerMessage.weight">
                <small class="text-danger"   *ngIf="updateCustomerForm.get('weight')?.hasError(validation.type)">
                 {{validation.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <div class="form-group">
              <span class="text-gray-900">Doanh thu dự kiến</span>
              <div class="input-group mt-1">

                <div class="input-group mb-3">
                  <input type="text" [ngClass]="{'is-valid': !expectedRevenueArray.errors?.['required'] && !expectedRevenueArray.errors?.['min']}"
                   class="form-control" appMoney formControlName="expectedRevenue" >
                  <div class="input-group-append">
                    <span  class="input-group-text" id="basic-addon2">VNĐ</span>
                  </div>
                </div>


              </div>
              <div *ngFor="let validation of updateCustomerMessage.expectedRevenue">
                <small class="text-danger"  *ngIf="updateCustomerForm.get('expectedRevenue')?.hasError(validation.type)">
                 {{validation.message}}</small>
              </div>
            </div>
          </div>
        </div>

        </div>
       </div>



        <div class="fixed" style="margin-left: -35px;">
          <div class="row col-12 col-lg-2" >
            <button [disabled]="updateCustomerForm.invalid || industryError" class="btn btn-sm btn-primary p-2" type="submit" >Cập nhật khách hàng</button>
          </div>
      </div>
      </mat-step>
    </mat-stepper>
  </div>
</form>
