.body{
  width: 100%;
  height: 100%;
}

.btn:active{
  background-color: red;
}
.bg-password-image {
  background: url(https://firebasestorage.googleapis.com/v0/b/fir-upload-e5fd0.appspot.com/o/image%2Fgiao-hang-buu-dien.png?alt=media&token=da98cc6c-d2cf-4d5e-9062-396346ffcaa8);
}

.lds-ripple {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 20vh;
  right: 50vw;
  transform: translateX(50%);
  width: 150px;
  height: 150px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #4e73df;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .lds-ripple {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 25vh;
    right: 50vw;
    width: 80px;
    height: 80px;
  }
}


@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
