
<div style="background-color: #4e73df;" class="body" >
  <div class="container"  >


    <div class="row justify-content-center pt-5">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">

                    <div class="row">
                        <div class="col-lg-6  bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Đăng nhập</h1>
                                    <p class="mb-4">Sử dụng tài khoản Email của bạn</p>
                                </div>
                                <form class="user" (ngSubmit)="checkEmail()" [formGroup]="checkForm">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            formControlName="email"
                                            placeholder="Nhập email của bạn">
                                            <small class="text-danger"
                                            *ngIf="email?.errors?.required && email?.touched">
                                            Bạn chưa nhập email</small>
                                            <small class="text-danger"
                                            *ngIf="email?.errors?.email && email?.touched">
                                            Email chưa đúng định dạng</small>
                                    </div>
                                    <button [disabled]="checkForm.invalid" type="button" (click)="checkEmail()" class="btn btn-primary btn-user btn-block">
                                      Tiếp theo
                                    </button>
                                </form>

                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</div>



